.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.banner {
  width: 70%;
  height: 100VH;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form {
  width: 30%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -50px;
}
.form img {
  height: 25%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
mat-form-field {
  width: 60%;
}
button {
  background-color: #3056d3 !important;
  color: white !important;
  border-radius: 0 !important;
}
